.metrics-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90px;
    text-align: left;
}


.metric-icon {
    color: #8fb6ff;    
}

.metric-count {
    margin-left: 8px;
}
