.HashtagListContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #262a31;
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    margin-top: 16px;
}

.HashtagList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.HashtagListTitle {
    font-size: 20px;
    margin: 16px 0;
}