.left-side-content {
    display: flex;
    margin-right: 12px;
}

.content-thumbnail {
    border-radius: 4px;
}

.video-content-container {
    text-align: left;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.video-content-heading {
    font-weight: 600;
}

.video-content-value {
    font-size: 15px;
    opacity: 0.9;
}